.dropDownContainer{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 8px;
    background-color: transparent;
}

.dropDownSelect{
    padding: 6px 8px;
    background: #07203a;
    width: 100%;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 4px;
}