.logEntryContainer{
    width: 100%;
    border: solid 1px rgba(255,255,255,0.08);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.errorEntry{
    border-color: rgba(255,0,0,0.5);
    background-color: rgba(255,0,0,0.1);
}
.warningEntry{
    border-color: rgba(255,255,255,0.08);
    background-color: #1b2028;
}