.logPanelContainer{
    grid-area: logPanelContainer;
    width: 100%;
    min-height: 300px;
    color: white;
}
.logPanelHeader{
    background-color: #0f172a;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 18px;
    border-radius: 8px 8px 0px 0px;
    border-bottom: solid 1px rgba(255,255,255,0.08);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.logPanelContent::-webkit-scrollbar {
    display: none;
}
.logPanelContent{
    padding: 16px;
    overflow: auto;
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    gap: 8px;
    border-radius: 0px 0px 8px 8px;
}