.controlsContainer{
    grid-area: controlsContainer;
    width: 100%;
    background-color: #0f172a;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 16px;
}
.controlLabel{
    font-size: medium;
    color: #888b94;
    display: flex;
    align-items: center;
    gap: 8px;
}
.controlLabel .icon svg{
    width: 16px;
    height: 16px;
    color: #888b94;
}
.adaptiveBitRateField{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: auto;
    padding: 0px 18px;
    border-radius: 12px;
    background-color: #080e22;
    border: 1px solid rgba(255,255,255,0.08);
}
.adaptiveBitRateLabel{
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    color: #888b94;
    padding: 18px;

}
.controlItem{
    display: flex;
    gap: 8px;
    flex-direction: column;
justify-content: center;
}
.controlLabel{
    font-size: medium;
    color: #888b94;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}
.reloadButton{
    padding: 8px 16px;
    background-color: #fff;
    color: #07203a;
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}