.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f172a;
    color: white;
    border-bottom: solid 1px #1e293b;
    padding: 14px 32px;
}
.heading{
    font-size: large;
    font-weight: 600;
}
.name {
  font-weight: bold;
  letter-spacing: normal;
  
  background: linear-gradient(
    45deg,
    goldenrod 0%,
    white 20%,
    goldenrod 40%
  );

  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: -200% -200%;
  }
  100% {
    background-position: 200% 200%;
  }
}
.leftHeader{
       display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: rgba(33, 150, 243, 0.2);
    border-radius: 6px;
}
.iconContainer svg{
    width: 28px;
    height: 28px;
    color: #50a2ff;
}
.subtitle{
   display: flex;
    justify-content: center;
    align-items: center;
    color: #62748E;
    font-size: small;
}
.rightHeader{
   display: flex;
    justify-content: center;
    align-items: center;
}
.shoutout strong{
  font-size: 14px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #5a2cff;
}