.statisticsPanelContainer {
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    padding: 1.4rem;
    gap: 12px;
    color: white;
    height: fit-content;
    border-radius: 8px;
    grid-area: statisticsPanelContainer;
}
.statisticsPanelHeader {
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.statisticsPanelContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.statHeader{
    font-size: medium;
    display: flex;
    align-items: center;

    gap: 8px;
    color: #888b94;
}
.statHeader svg{
    width: 16px;
    height: 16px;
    color: #888b94;
}
.statItem{
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.statUnit{
    font-size: small;
    color: #888b94;
}
.statInfo{
    font-size: x-large;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.statusInfo{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    gap: 8px;
    background-color: #1b2538;
    width: 100%;
    padding: 8px;
    font-size: large;
    align-items: center;
    border-radius: 6px;
}
.statusInfo svg{
    width: 16px;
    height: 16px;
    color: #888b94;

}