
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'sans-serif', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #080e22;

}
body *:-webkit-scrollbar {
 display: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.bodyContainer{
    display: grid;
    gap: 24px;
    background-color: #080e22;
    padding: 24px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto auto;

    grid-template-areas:
    "inputPanelContainer inputPanelContainer"
    "videoPlayerContainer statisticsPanelContainer"
    "controlsContainer statisticsPanelContainer"
    "logPanelContainer logPanelContainer"
    ;
}

